// Based on solarized dark theme
// http://ethanschoonover.com/solarized

$background-color: #073642;

$data-color-1: #b58900;
$data-color-2: #cb4b16;
$data-color-3: #dc322f;
$data-color-4: #d33682;
$data-color-5: #6c71c4;

$axis-color: #839496; 
